
@media all {
  body.printView,
  body.printView:before,
  body.printView:after {
    border: none !important;
}
  
  body,
  html {
	/*  background-color:gray;*/
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
	font-size: 5mm;
     /* overflow: hidden;  */
}
.certificate-wrapper {
	background-color: white;
	overflow: hidden;
	width: 297mm;
	height: 210mm;
	margin-top: 100mm;
	margin-left: 100mm;
	margin: auto;
	position: relative;
	background: hsl(0, 30%, 0) !important;
	line-height: normal;
	 border: 0.01mm  solid rgb(0, 0, 0, 0.5); 
}
.certificate-wrapper .certificate-background {
	position : absolute;
	left: 0mm;
	top: auto;
	width: 297mm;
	height: 210mm;
	overflow: hidden  
}  
 .certificate-wrapper .certificate-background .boxright{
	 width: 5mm;
	 height: 5mm;
	 background-color: white;
	 transform:rotate(45deg);
	 position: absolute;
	 top: 55.5mm;
	 left: 96mm;
	 z-index: 1;
  }
  .certificate-wrapper .certificate-background .boxleft{
	 width: 5mm;
	 height: 5mm;
	 background-color: white;
	 transform:rotate(45deg);
	 position: absolute;
	 top: 55.5mm;
	 right: 96mm;
	 z-index: 1;
  }
  .certificate-wrapper .certificate-background .box1{
	 width: 9mm;
	 height: 84mm;
	 background-color: #414143;
	 position: absolute;
	 left: 0;
	 z-index:1;
    }
  .certificate-wrapper .certificate-background .box2{
	 width: 15mm;
	 height: 45mm;
	 background-color: #414143;
	 transform: skewY(45deg);
	 position: absolute;
	 top:80mm;
	 left: 0;
	 z-index:1;
    }
	.certificate-wrapper .certificate-background .box3{
	 width: 15mm;
	 height: 45mm;
	 background-color: #ED1B24;
	 transform: skewY(45deg);
	 position: absolute;
	 top:125mm;
	 left: 0;
	 z-index:1;
    }
	.certificate-wrapper .certificate-background .box4{
	 width: 15mm;
	 height: 60mm;
	 background-color: #D2D3D5;
	 transform: skewY(45deg);
	 position: absolute;
	 top:165mm;
	 left: 0;
	 z-index:1;
    }
	.certificate-wrapper .certificate-background .box5{
	 width: 9mm;
	 height: 84mm;
	 background-color: #414143;
	 position: absolute;
	 right: 0;
	z-index:1;
    }
  .certificate-wrapper .certificate-background .box6{
	 width: 15mm;
	 height: 45mm;
	 background-color: #414143;
	 transform: skewY(-45deg);
	 position: absolute;
	 top:80mm;
	 right:-0.2mm;
	 z-index:1;
    }
	.certificate-wrapper .certificate-background .box7{
	 width: 15mm;
	 height: 45mm;
	 background-color: #ED1B24;
	 transform: skewY(-45deg);
	 position: absolute;
	 top:125mm;
	 right: -0.2mm;
	 z-index:1;
    }
	.certificate-wrapper .certificate-background .box8{
	 width: 15mm;
	 height: 60mm;
	 background-color: #D2D3D5;
	 transform: skewY(-45deg);
	 position: absolute;
	 top:165mm;
	 right: -0.2mm;
	 z-index:1;
    }
	.certificate-wrapper .certificate-background .border1{
		width: 1mm;
		height: 73mm;
		background-color: #D2D3D5;
		position: absolute;
		left: 14mm;
		top: 5mm;
		z-index:1mm;
	}
	.certificate-wrapper .certificate-background .border2{
		width: 1mm;
		height: 6mm;
		background-color: #D2D3D5;
		transform: skewX(45deg);
		position: absolute;
		left: 16.88mm;
		top: 77.7mm;
		z-index:1mm;
	}
	.certificate-wrapper .certificate-background .border3{
		width: 1mm;
		height: 121mm;
		background-color: #D2D3D5;
		position: absolute;
		left: 20mm;
		top: 83.5mm;
		z-index:1mm;
	}
	.certificate-wrapper .certificate-background .border4{
		width: 1mm;
		height: 73mm;
		background-color: #D2D3D5;
		position: absolute;
		right: 14mm;
		top: 5mm;
		z-index:1mm;
	}
	.certificate-wrapper .certificate-background .border5{
		width: 1mm;
		height: 6mm;
		background-color: #D2D3D5;
		transform: skewX(-45deg);
		position: absolute;
		right: 16.88mm;
		top: 77.7mm;
		z-index:1mm;
	}
	.certificate-wrapper .certificate-background .border6{
		width: 1mm;
		height: 121mm;
		background-color: #D2D3D5;
		position: absolute;
		right: 19.8mm;
		top: 83.5mm;
		z-index:1mm;
	}
	.certificate-wrapper .certificate-background .border7{
		width: 268mm;
		height: 1mm;
		background-color: #D2D3D5;
		position: absolute;
		left: 14mm;
		top: 5mm;
		z-index:1mm;
	}
	.certificate-wrapper .certificate-background .border8{
		width: 257.2mm;
		height: 1mm;
		background-color: #D2D3D5;
		position: absolute;
		left: 20mm;
		bottom: 5mm;
		z-index:1mm;
	}
}
