@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Lobster&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Lobster&family=Pacifico&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Lobster&family=Pacifico&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Signika:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Pacifico&display=swap');

@font-face {
  font-family: sub;
  src: url("fonts/AlexBrush-Regular.ttf");
}
  
@font-face {
  font-family: cname;
  src: url("../fonts/New Walt Disney.ttf");
}


@media all{
	body.printView, body.printView:before, body.printView:after { 
		border : none !important;
	}



body {
	background-color: #1b1818;
	/* overflow: scroll; */
	/* scrollbar-color: red orange; */
	/* scrollbar-width: thin; */

}

html {
	overflow: scroll;
	scroll-behavior: smooth;
}


	.certificate-wrapper {
		
		position: fixed;
		inset: 0;
		width: fit-content;
		height: fit-content;
		margin: auto;
		/* overflow: scroll; */

	}
		
	
	.certificate-wrapper .certificate-background {
	
	  left: 0mm;
	  top: auto;
	  width: 297mm;
	  height: 210mm;
	  overflow: hidden;
	  position: relative;
	  background-color: #ffffff;
	  overflow: hidden;
	}

	/**recttop */
	.certificate-wrapper .certificate-background .recttop {
		left: -3.5mm;
		top: auto;
		width: 300mm;
		height: 9mm;
		background: #D2D3D5  !important;
		position: relative;
	  }
	
	  /**rectleft */
	.certificate-wrapper .certificate-background .rectbtm {
		left: -3.5mm;
		bottom: -192mm;
		width: 303mm;
		height: 9mm;
		background: #D2D3D5 !important;
		position: relative;
		z-index: 0;	  
	}
 
	  
	  /**rightone */
	  .certificate-wrapper .certificate-background .rightone {
		  left: 180mm;
		  top: 0mm;
		  width: 348mm;
		  height: 30mm;
		  background: #414143 !important;
		  transform: skewX(-149deg);
		  position: absolute;
	  }
		
		
		
	  /**righttwo */
	  .certificate-wrapper .certificate-background .righttwo {
		left: 192mm;
		top: 11mm;
		width: 352mm;
		height: 10mm;
		background: #EF4136 !important;
		transform: skewX(-150deg);
		position: absolute;
	  }

  
  
	  /**rightthree */
	  .certificate-wrapper .certificate-background .rightthree {
		right: 99mm;
		top: -3mm;
		width: 13mm;
		height: 15mm;
		background: #EF4136 !important;
		transform: skew(32deg);
		position: absolute;
	  }

  
		/** For Left corner design  */
  
		
	  /**leftone */
	  .certificate-wrapper .certificate-background .one {
		right: 180mm;
		top: 180mm;
		width: 348mm;
		height: 30mm;
		background: #414143 !important;
		transform: skewX(-149deg);
		position: absolute;
	  }

	
		/**lefttwo */
		.certificate-wrapper .certificate-background .two {
		 
		  right: 192mm;
		  bottom: 9mm;
		  width: 352mm;
		  height: 10mm;
		
		  background: #EF4136 !important;
		 
		  transform: skewX(-150deg);
		  position: absolute;
		}
	
	
		/**leftthree */
		.certificate-wrapper .certificate-background .three {
			
			right: 188mm;
			bottom: 0mm;
			width: 13mm;
			height: 14mm;
			background: #EF4136 !important;
			transform: skew(32deg);
			position: absolute;
		  }
  
  
	  /** Proudly presented to:  */
	  /**righttwo */
	  .certificate-wrapper .certificate-background .present {
		  
		  right: 20mm;
		  top: 64mm;
		  width: 140mm;
		  border-left: 20pt solid transparent;
		  border-right: -2pt solid #414143;
		  border-top: 30pt solid #414143;
		  position: absolute;
		  
		}
  
		.certificate-wrapper .certificate-background .present1 {
				  left: 114mm;
				  top: 64mm;
				  width: 7mm;
				  height: 11mm;
				  background: #D2D3D5 !important;
				  transform: skewX(-147deg);
				  position: absolute;
		}
  
  
		.certificate-wrapper .certificate-background .present2 {
				  left: 124mm;
				  top: 64mm;
				  width: 7mm;
				  height: 11mm;
				  background: #D2D3D5!important;
				  transform: skewX(-147deg);
				  position: absolute;
		}
  
		/**rectleft */
		.certificate-wrapper .certificate-background .rectleft {
		  width: 14.5mm;
		  height: 81mm;
		  top: -3.5mm;
		  background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
		  transform: skewY(-28deg);
		  position: absolute;
		}
  
	
  
		/**certificate main box background  */
		.certificate-wrapper .certificate-background .boxx {
		  left: 14mm;
		  top: 0mm;
		  width: 267mm;
		  height: 180mm;
		  opacity: 0.2;
		  position: relative;
		}
		
		
		/**certificate content  */	
		.certificate-wrapper .certificate-content {
			  top: 20mm;
			  right: 20mm;
			  bottom: 20mm;
			  left: 20mm;
			  position: absolute;
		}
		
		/**certificate  */
		.certificate-wrapper .certificate-content .title {
			  position: absolute;
			  left: -120mm;
			  top: -10mm;
			  right: 0mm;
			  font-size: 60pt;
			  text-align: center;
			  margin: auto;
			  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
			  line-height: normal;
			  font-style: italic;
			  font-weight: 800;
			  font-style: normal;
			  text-transform: uppercase;
			}
		
		/**serial no */
			.certificate-wrapper .certificate-content .sr-no {
				position: absolute;
				left: 0mm;
				top: 150mm;
				font-size: 16pt;
				position: absolute;
				font-family: "Geologica", sans-serif;
			}
				
				
			/** orgnisation logo */
			.certificate-wrapper .certificate-content .org-logo {
				left: 96mm;
				bottom: 6mm;
				position: absolute;
				z-index: 0;
				width: 79mm;
				height: 20mm;
			}
		
			/* * badge logo
			.certificate-wrapper .certificate-content .badge-logo {
				left: -6mm;
				bottom: 105mm;
				position: absolute;
				z-index: 2;
				width: 79mm;
				height: 20mm;
				border-radius: 55px;
			} */
		
			/** orgnisation logo image */
			.certificate-wrapper .certificate-content .org-logo img {
			  width: 57%;
			  mix-blend-mode: multiply;
			  background-image: none;
			}
		
			
			/**certificate subtitle  */
			.certificate-wrapper .certificate-content .subtitle {
				position: absolute;
				left: -158mm;
				top: 14mm;
				right: 0mm;
				color: #41c718fd !important;
				font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
				font-size: 30pt;
				text-align: center;
				margin: auto;
				text-transform: uppercase;
			}
		
			/**proudly presented to */
			.certificate-wrapper .certificate-content .initial-content {
				position: absolute;
				left: 115mm;
				top: 46mm;
				right: 0mm;
				font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
				font-size: 14pt;
				text-align: center;
				margin: auto;
				position: absolute;
				color: white;
				text-transform: uppercase;
			}
		
			/** candidate name  */
			.certificate-wrapper .certificate-content .candidate-name {
				left: 91mm;
				top: 63mm;
				right: 0mm;
				font-family: sub;
				font-size: 55pt;
				color: #143b47 !important;
				text-align: center;
				margin: auto;
				position: absolute;
				text-decoration: underline;
			}
		
			/**for successful  */
			.certificate-wrapper .certificate-content .main-content {
				position: absolute;
				left: 20mm;
				top: 88mm;
				right: -81mm;
				font-size: 16pt;
				font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
				font-style: italic;
				text-align: center;
				margin: auto;
				position: absolute;
				border: none;
				line-height: normal;
			}
		
			.certificate-wrapper .certificate-content .main-content p {
				margin-top: 3mm;
			}
			
			.certificate-wrapper .certificate-content .certificate-logo {
				left: -8mm;
				bottom: 92mm;
				position: absolute;
				z-index: 2;
				width: 79mm;
				height: 20mm;
				border-radius: 55px;
				object-fit: contain;
				mix-blend-mode: darken;
				max-height: 40mm;
				max-width: 100%;
				border-radius: 45px; 
			}
			
			
			
			.certificate-wrapper .certificate-content .certificate-logo img {
			  height: auto;
			  width: 69mm;
			  /* max-width: 60mm; */
			}
			.certificate-wrapper .certificate-content .date {
				position: absolute;
				left: auto;
				top: 13mm;
				right: 0mm;
				font-size: 16pt;
				font-family: "Geologica", sans-serif;
				position: absolute;
				/* font-style: italic; */
			}
		
			
			/** left side sign */
			.certificate-wrapper .certificate-content .sign-president-img
			{
				top: 111mm;
				left: 96mm;
				width : 40mm;
				height : 20mm;
				position : absolute;
				border-radius: 10px;
			}
		
		
			/** right side sign */
			.certificate-wrapper .certificate-content .sign-director-img
			{
				top : 111mm;
				right: 0mm;
				width : 40mm;
				height : 20mm;
				position : absolute;
				border-radius: 10px;
			}
		
			/** right side sign content */
			.certificate-wrapper .certificate-content .sign-director {
			  right: 0mm;
			  top: 133mm;
			  font-size: 12pt;
			  border-top: 0.5pt solid;
			  line-height : 8mm;
			  position: absolute;
			}
		
			/** right side sign content */
			.certificate-wrapper .certificate-content .sign-president {
			  left: 96mm;
			  top: 133mm;
			  font-size: 12pt;
			  border-top: 0.5pt solid;
			  line-height : 8mm;
			  position: absolute;
			}
		
			/** mmeac name */
			.certificate-wrapper .certificate-content .org-name {
				position: absolute;
				left: auto;
				bottom: 4mm;
				right: -11mm;
				text-align: right;
				font-family: "Signika", sans-serif;
				font-size: 18pt;
				font-weight: bold;
				position: absolute;
			}
		
			/** address */
			.certificate-wrapper .certificate-content .org-address {
				right: -34mm;
				bottom: -7mm;
				width: 170mm;
				text-align: center;
				font-family: "Signika", sans-serif;
				font-size: 13pt;
				font-weight: bold;
				position: absolute;
			}
			
			
			.certificate-wrapper .certificate-content .org-address p {
				margin-bottom: 0mm;
				margin-top : 0mm;
			}
			
			
			

		}